div {
	width: 100px;
	height: 100px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

button
{
	border: 1px solid white;
	background-color: black;
	padding: 20px 30px;
	color: white;
	cursor: pointer;
}
h2
{
	margin:40px, 40px, 40px, 40px;
	padding: 10px,10px,10px,10px;
	background-color: black;
	color: white;
}